@import url('https://fonts.googleapis.com/css?family=Knewave');

.Header {
	text-align: center;
	font-size: 80px;
	font-family: 'Knewave';
	letter-spacing: 0.1em;
	color: #426986;
	line-height: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  /*display: none;*/
}

::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}