@import url('https://fonts.googleapis.com/css?family=Knewave');

.Header {
	text-align: center;
	font-size: 60px;
	font-family: 'Knewave';
	letter-spacing: 0.1em;
	color: #FFFFFF;
	/* line-height: 10px; */
	background-color: #003a9b;
	margin-top: -80px;
	padding-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  /*display: none;*/
}

::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}