.widget-embedded {
	max-width: 80%;
	max-height: 70%;
	margin:auto !important;
	border-left: solid lightgrey 3px;
	padding-left:20px;
}

.sender {
	border-radius: 18px;
	margin-top: 10px;
	border: solid lightgrey 1.5px;
}

.client {
	/* background-color: #003a9b !important; */
}

.conversation-container {
	box-shadow: 0px 0 0px 0px !important;
}

.conversation-container:after {
    content:'';
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
}

.conversation-container .response {
    max-width: 500px !important;
}

.conversation-container .client {
    max-width: 500px !important;
}


/* DARK MODE */
.dark-mode .messages-container {
	background-color: #1a1919;
}

.dark-mode .conversation-container:after {
	background: #1a1919;
	height: 0px;
}

.dark-mode .response {
	background-color: #272727;
	color: #999;
}

.dark-mode .client {
	background-color: #011a44;
}

.dark-mode .sender {
	background-color: #1a1919;
}

.dark-mode .send {
	background-color: #1a1919;
}

.dark-mode .new-message {
	background-color: #1a1919;
	color: #999;
}